[% PROCESS header.tt %]

<div class="container">
    <p>
    Home page!
    [% IF session.user.id %]
      <h3>Logged in as [% session.user.username %] </h3>
    [% END %]
    </p>
    [% PROCESS footer.tt %]
</div>
