[% PROCESS header.tt %]

<div class="container">
    <form method='post' action='/login'>
    <fieldset>
    <legend>Login</legend>
      <input type='hidden' name='path' value='[% path %]' />
      <label for='username'>Username:</label>
      <input type='text' name='username' />
      <label for='password'>Password:</label>
      <input type='password' name='password' />
      <input type='submit' value='login' />
    </fieldset>
    </form>
    [% PROCESS footer.tt %]
</div>

